.pricing {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:center;
}

.pricingBox {
    border:solid 2px white;
    height:50vh;
    flex:1;
    box-sizing: border-box;
    
    
}

.servicesBox {
    border:solid 2px #332179;
    height:50vh;
    
    
    
}