
.pricing {
    display:grid;
    grid-template-rows:1fr;
}

.pricingBox {
    color:white;
    height:60vh;
    box-sizing: border-box;
    border:1px solid #eee;
    border-radius:4px;
    padding:20px;
    background-color:transparent ease 1s;
    width:80%;
    font-weight: bold;
    margin:35px;;
    transition-delay: background-color 0.5s ease-in-out;
    
}

.pricingBox:hover {
    background-color:white;
    color:black;
    
}

.pricingFeauture {
    padding-top:40px;
    font-weight:300;
}

.icon {
    width:23%;
    padding-top:25px;
}


.ContactForm {
    height:60vh;
    text-align: center;
    padding-bottom:40px;
    padding-top:30px;
    color:#a9a9a9;
    font-size:16px;
    letter-spacing: 2px;

}

@media(min-width:600px) {

    .pricing {
        display: grid;
        grid-template-columns: 1fr 1fr;
             
    }
    
    .pricingBox {
        color:white;
        height:50vh;
        box-sizing: border-box;
        border:1px solid #eee;
        border-radius:4px;
        padding:10px;
        background-color:transparent;
        justify-content: space-evenly;
        width:50%;
        font-weight: bold;
        margin:23%;
        transition: background-color 1s ease;
        
    }

    .pricingBox:hover {
        background-color:white;
        color:black;
        
    }

    
    .icon {
        width:23%;
        padding-top:25px;
    }
    .pricingFeauture {
        padding-top:40px;
        font-weight:300;
    }
    
    
    .ContactForm {
            height:60vh;
            text-align: center;
            padding-bottom:40px;
            padding-top:30px;
            color:#a9a9a9;
            font-size:16px;
            letter-spacing: 2px;
    
    }

    .servicesBox {
        padding-top:5px;
    }
    
}



 /*display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content:center;
        
         .pricingBox{
        transition: margin 1s;
    }
    .pricingBox:hover {
        margin:5px;
    }*/
