
.pricing {
    display:grid;
    grid-template-rows:1fr;
}

.pricingBox {
    color:#A56969;
    height:60vh;
    box-sizing: border-box;
    border:1px solid #eee;
    border-radius:4px;
    padding:20px;
    background-color:transparent ease 1s;
    width:80%;
    font-weight: bold;
    margin:35px;;
    transition-delay: background-color 0.5s ease-in-out;
    box-shadow: -6px -6px 7px 0 rgba(0, 0, 0, 0.5), 6px 6px 9px 0 rgba(0, 0, 0, 0.7);
    
}

.pricingBox:hover {
    background-color:#C98F90;
    color:black;
    
}

.pricingFeauture {
    font-weight:300;
}

.icon {
    width:23%;
    
}


@media(min-width:600px) {

    .pricing {
        display: grid;
        grid-template-columns: 1fr 1fr;
             
    }
    
    .pricingBox {
        color:#A56969;
        height:50%;
        width:50%;
        box-sizing: border-box;
        border:2px solid #eee;
        border-radius:2px;
        background-color:transparent;
        justify-content: space-evenly;
        font-weight: bold;
        margin:23%;
        transition: background-color 1.4s ease;
        box-shadow: -1px -4px 7px 0 rgba(0, 0, 0, 0.5), 6px 6px 9px 0 rgba(0, 0, 0, 0.7);
        transform: rotate(45deg);
    } 

    .pricingBox:hover {
        background-color:#C98F90;
        color:white;
        height:40%;
        width:40%;
    }

    
    .icon {
        width:21%;
        padding-top:25px;
        transform: rotate(-90deg);
    }


    .pricingFeauture {
        margin-bottom: 10%;
        font-weight:300;
    }

    .pricingFeauture:hover{
        font-size:5%;
        justify-content: center;
        align-items: center;
    }

    .servicesBox {
        margin:20px;
        align-items: center;
        transform: rotate(-45deg);
    }
    
}



 
