.Menu {
    display:none;
    color:greenyellow;
    justify-content: flex-end;
}

.Menu-link {
    padding:10px;
}

.burgerButton{
    background:none;
    border:none;
    outline:none;
    
}

@media(min-width:600px) {
    .Menu {
        display:flex;
        justify-content: flex-end;
    }
    .burgerButton {
        display: none;
    }
}

