
 .myskills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    margin:22px;
    grid-gap:2;
   
}

.myskills img {
   width: 80px;
}


@media(min-width:600px) {
    .myskills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-evenly;
        margin-left:100px;
    }
    
   .myskills img {
       width: 60px;
   }

   .myskills {
    text-align: center;
    padding-top:50px;
    color:#a9a9a9;
    font-size:20px;
    font-weight: 400;
    letter-spacing: 2px;
}
   
}

