
.mySkillsBorder {
    width: 70px;
    height:70px;
    margin:0 6px;
    padding:8px;
    display: inline-block;
    border:3px solid #A56969;
    border-radius:1px;
    transform: rotate(45deg);
    transition: all 500ms ease;
    margin-top:50px;
}

.myskills {
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   
}

.mySkillsBorder img {
    width: 43px;
    height:43px;
    transform: rotate(-45deg);
    
}


@media(min-width:600px) {

    .mySkillsBorder {
        width: 70px;
        height:70px;
        margin:0 6px;
        padding:8px;
        display: inline-block;
        border:3px solid #A56969;
        border-radius:1px;
        transform: rotate(45deg);
        transition: all 500ms ease;
        margin-top:50px;
        margin-bottom:50px;
    }

    .myskills {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       
}

    .mySkillsBorder img {
        width: 43px;
        height:43px;
        transform: rotate(-45deg);
        
        
    }
    
}