@media(min-width:600px) {
    .hexagon {
        position: relative;
        width: 500px;
        height:290px;
        background: #D5C1C1;
        justify-content: center;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        margin-top:200px;
        margin-left:32%;
        margin-bottom:15%;
       

    }

    .hexagon::before,
    .hexagon::after {
        content: '';
        position: absolute;
        width:0;
        border-left: 250px solid transparent;
        border-right: 250px solid transparent;

        
    }

    .hexagon::before {
        bottom:99.9%;
        border-bottom: 90px solid #D5C1C1;

    }

    .hexagon::after {
       top:100%;
       border-top:90px solid #D5C1C1;

    }

    .hexagon-content {
        justify-content: center;
        align-items: center;
        padding:20px;
    }

    .hexagon-content h1 {
        font-size:18px;
        color: #F9F7F7;
    
    }

    .hexagon-content h2{
        margin-bottom:20px;
        color:#A56969;
    }

    .questionMark {
        font-size:46px;
        margin-top:6px;
    }



    .hexagonPic {
        position: absolute;
        width: 300px;
        height:173px;
        background: #A56969;
        justify-content: center;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        margin-left:15%;
        bottom:-125%;
        
       
       
    }

    .hexagonPic::before,
    .hexagonPic::after {
        content: '';
        position: absolute;
        width:0;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        
        
    }

    .hexagonPic::before {
        bottom:99.9%;
        border-bottom: 90px solid #A56969;
    }

    .hexagonPic::after {
       top:100%;
       border-top:90px solid #A56969;
    }

    .hexagon-content {
        justify-content: center;
        align-items: center;
        
    }

    

    .hexagon-content h2{
        margin-bottom:20px;
        color:#A56969;
    }

    .questionMark {
        font-size:46px;
        margin-top:6px;
    }
    
    
}


/*

.content p {
    justify-content: center;
    margin-top:50px;
    font-size:12px;
    
}

.square {
    box-sizing: border-box;
    
   
}

.content p h1 {
    font-size:14px;
    color:#FB475E;
}

.content p h2 {
    font-size: 15px;
    line-height: 1.1;
    margin-bottom:10px;
    color:#827e7e;
    
}

@media(min-width:600px) {
    .content p {
        justify-content: center;
        margin-top:50px;
        
    }

    .square {
        box-sizing: border-box;
        
       
    }

    .content p h1 {
        font-size:16    px;
        color:#FB475E;
    }

    .content p h2 {
        font-size: 25px;
        line-height: 1.1;
        margin-bottom:10px;
        color:#827e7e;
        
    }

    .content {
        
    }
}

*/
